.bg-salmon {
  background-color: salmon;
  color: white;
}
.bg-black {
  background-color: black;
  color: white;
}
.tooltip {
  position: relative;
}
.tooltip:hover {
  background-color: gray;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100%;
  max-width: 800px;
  min-width: 300px;

  display: inline-block;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 20px;
  left: -40px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
#paragraph-mark {
  color: grey;
}

.underline {
  text-decoration: underline;
}
