.chapter-container {
  width: 83%;
  margin: 0 auto;
  .subtitle-container {
    margin-bottom: 30px;
  }
  .sub {
    font-size: 10px;
    color: gray;
  }
}

.paragraph-container {
  margin-bottom: 40px;
}

p {
  font-size: 20px;
}

.indent {
  text-indent: 20px;
  line-height: 40px;
}
.bg-lightpink {
  background-color: lightpink;
}

.bg-lightblue {
  background-color: lightblue;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  max-width: 400px;
  width: max-content;

  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: small;
  text-indent: 0ex;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: -40px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
