.page-container {
  display: flex;
}

.chapter-container {
  width: 83%;
  margin: 30px auto;
  .subtitle-container {
    margin-bottom: 10px;
    padding: 10px;
  }
  .sub {
    font-size: 10px;
    color: gray;
  }
}

.paragraph-container {
  margin-bottom: 40px;
  margin-top: 30px;
}

p {
  font-size: 20px;
}

.indent {
  text-indent: 20px;
  line-height: 40px;
}

.bg-lightblue {
  background-color: lightblue;
}

.bg-lightpink {
  background-color: lightpink;
}

// .tooltip {
//   position: relative;
// }

.tooltip .tooltiptextEdit {
  visibility: hidden;
  max-width: 400px;
  width: max-content;

  background-color: black;
  color: #fff;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: small;
  text-indent: 0ex;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: -40px;
}

.tooltip:hover .tooltiptextEdit {
  visibility: visible;
}

.tooltiptextEdit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.editButton {
  border-radius: 5px;
  margin-right: 5px;
}
