.definitions-container {
  width: 50vw;
  height: 50vh;
  overflow-y: scroll;
  .sentenceFromBook {
    padding-left: 30px;
    padding-right: 20px;
    text-indent: 16px;
  }
}

ul {
  list-style: none;
  width: 400px;
}

.textDicText {
  padding: 10px;
  padding-left: 30px;
}
