.definitions-container {
  .sentenceFromBook {
    padding-left: 30px;
    padding-right: 20px;
    text-indent: 16px;
  }
}

ul {
  list-style: none;
  li {
    border: 1px solid pink;
  }
}

.textDicText {
  padding: 10px;
  padding-left: 30px;
}
